@import url('./assets/fonts/Roboto/Roboto-Regular.ttf');


/*TODO: Migrate to imports*/
:root {
	--main-bg-color: #4286f4;
	--main--bg-color-darken: #094c8a;
	--main-txt-color: #ffffff;
	--success-color: #28a745;
	--gray-color: #5a5a5a;
	--transparent-color: rgba(255, 255, 255, 0.0);

	--base-font: 'Roboto';


	--border-unit: 4px;
	--spacing-unit: 24px;
}

/* GENERAL RESETS */
body {
	font-family: var(--base-font);

}

h2 {
	margin-top: 0;

}

.container {
	max-width: 960px;
}


/* Buttons */
.btn, button {
	border-radius: var(--border-unit);
	font-weight: 200;
	padding: calc(var(--spacing-unit) / 3);
	font-family: sans-serif;
	font-size: .75em;
	text-decoration: none;
}

.btn:hover {
	background-color: var(--main--bg-color-darken);
	cursor: pointer;
}

.btn-primary {
	background-color: var(--main-bg-color);
	border: 1px solid var(--main--bg-color);
	color: var(--main-txt-color);
}

.btn-services {
	background-color: var(--gray-color);
	color: var(--main-txt-color);
}


/* Circles   */
/* TODO: Resolver duda del círculo con Charly */
.circle {
	background: var(--gray-color);
	border-radius: 50%;
	display: block;
	height: 15vw;
	width: 15vw;
}


 /* Navigation */
.navigation {
	background-color: var(--gray-color);
	color: #ffffff;
 	display: flex;
	font-weight: 300;
	flex-direction: row;
	justify-content: space-between;

	padding: 8px 16px;

}

.nav-left {
	display: flex;
	flex-direction: row;
	width: 40%;

}

.nav-right {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: center;

	min-width: 30vw;

}


.nav-list {
	list-style: none;
	width: 70%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* TODO: Create a flex-center */
.brand, .service, .flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-col-center {
	align-items: center;
}

.brand {
	align-self: center;
}

.service {
	align-items: center;
	margin-top: calc(var(--spacing-unit) * 2);
	padding: calc(var(--spacing-unit) * 1.5);
}




input, .btn--search {
	border-radius: var(--border-unit);
}


.btn--search {
	color: var(--success-color);
	background-color: var(--transparent-color);
	border: 1px var(--success-color) solid;
}


/*DRY
Don't
Reapeat
Yourself


WET
Write
Everything
Twice*/


/* Carousel  */

.carousel {
	background: linear-gradient(rgba(0, 0, 0, 0.5), #000000), url('http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg') no-repeat center;
	background-size: 120%, cover;

	color: #ffffff;
	height: 30rem;
	max-width: 100%;
	padding-right: 10vw;
	text-align: right;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;

}


/* Services */


.services {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.service > p {
	text-align: center;
}


/*TODO: Add responsiveness*/
